doctype html
html
    head
        title Riders on the SCORM
        link(rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css")
        link(rel="stylesheet" href="/style.css")
        script(src="https://unpkg.com/apprun@latest/dist/apprun-html.js")
    body
        block content
        script(src="/main.js")