@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf');
}
:root {
    --wh-near-white: #f6f6f6;
    --wh-gray: #797979;
    --wh-gray-light: #e4e4e4;
    --wh-purple: #7f5eff;
    --wh-light-purple: #dcd4fc;
    --wh-green: #25dd9c;
    --wh-dark-green: #1a9b6d;
    --wh-dark-red: #994949;
    --wh-red: #E23030;
}
.wh-bg-near-white {
    background-color: var(--wh-near-white);
}
.wh-gray {
    color: var(--wh-gray);
}
.wh-gray-light {
    color: var(--wh-gray-light);
}
.wh-purple {
    color: var(--wh-purple);
}
.wh-bg-purple {
    background-color: var(--wh-purple);
}
.wh-light-purple {
    color: var(--wh-light-purple);
}
.wh-bg-light-purple {
    background-color: var(--wh-light-purple);
}
.wh-dark-green {
    color: var(--wh-dark-green);
}
.wh-bg-green {
    background-color: var(--wh-green);
}
.wh-bg-green-hover:hover {
    color: var(--wh-near-white);
    background-color: var(--wh-green);
}
.wh-bg-light-purple-hover:hover {
    background-color: var(--wh-light-purple);
}
.wh-bg-dark-green {
    background-color: var(--wh-dark-green);
}
.wh-bg-red {
    background-color: var(--wh-red);
}
.wh-bg-dark-red {
    background-color: var(--wh-dark-red);
}
.wh-b--dark-green {
    border-color: var(--wh-dark-green);
}
.wh-b--dark-red {
    border-color: var(--wh-dark-red);
}
.wh-b--light-purple {
    border-color: var(--wh-light-purple);
}
.wh-b--gray-light {
    border-color: var(--wh-gray-light);
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--wh-near-white);
    margin: 0 !important;
}
h1 {
   margin-block-start: 2rem;
   margin-block-end: 2rem;;
}
blockquote {
    background-color: var(--wh-near-white);
    font-style: italic;
    padding: 1rem 2rem;
    border-radius: 12px;
}
a {
    text-decoration: none;
}
.scorm-quiz {
    margin: 2rem 0;
    width: 90%;
    max-width: 75%;
    margin: auto;
}
.scorm-quiz article {
    margin:0.25rem 0;
    padding:1rem;
    
}
.scorm-quiz-question {
    color: white;
    background-color: var(--wh-purple);
}
.scorm-quiz-answer {
    color: var(--wh-purple);
    background-color:white;
    border: dashed 1px var(--wh-purple);
    cursor: pointer;
}
.scorm-quiz-answer:hover {
    color: var(--wh-purple);
    background-color:var(--wh-light-purple);
    border: solid 1px var(--wh-purple);
}
code.hljs {
    padding: 2rem;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  }